.noava {
 display: inline-block;
 height: 45px;
 width: 45px; 
overflow: hidden;
border-radius: 100%;
 font-size: 27px;
 text-transform: uppercase; 
 color: rgba(255,255,255,.9); 
 text-shadow: 0px 0px 3px rgba(255,255,255,.3); 
 text-align: center;
 line-height: 45px;
 background: #4a76a8;
}

 .noava-0, 
 .noava-7, 
 .noava-а, 
 .noava-А, 
 .noava-с, 
 .noava-С, 
 .noava-н, 
 .noava-Н, 
 .noava-я, 
 .noava-Я, 
 .noava-ю, 
 .noava-Ю, 
 .noava-ё, 
 .noava-Ё, 
 .noava-e, 
 .noava-E, 
 .noava-l, 
 .noava-L, 
 .noava-s, 
 .noava-S, 
 .noava-z, 
 .noava-Z { 
 background: #e74c3c; 
 } 

 .noava-1, 
 .noava-8, 
 .noava-б, 
 .noava-Б, 
 .noava-О, 
 .noava-о, 
 .noava-з, 
 .noava-З, 
 .noava-к, 
 .noava-К, 
 .noava-ы, 
 .noava-Ы, 
 .noava-f, 
 .noava-F, 
 .noava-m, 
 .noava-M { 
 background: #e67e22; 
 } 

.noava-,
.noava-2, 
 .noava-9, 
 .noava-Х, 
 .noava-х, 
 .noava-и, 
 .noava-И, 
 .noava-У, 
 .noava-у,
.noava-t, 
 .noava-T { 
 background: #000000db; 
 } 


 
 .noava-ч, 
 .noava-Ч, 
 .noava-ю, 
 .noava-Ю, 
 .noava-е, 
 .noava-Е, 
 .noava-щ, 
 .noava-Щ, 
 .noava-g, 
 .noava-G, 
 .noava-n, 
 .noava-N, 
 .noava-u, 
 .noava-U { 
 background: #f1c40f; 
 } 

 .noava-3, 
 .noava-В, 
 .noava-в, 
 .noava-п, 
 .noava-П, 
 .noava-Л, 
 .noava-л, 
 .noava-Й, 
 .noava-й, 
 .noava-a, 
 .noava-A, 
 .noava-h, 
 .noava-H, 
 .noava-o, 
 .noava-O, 
 .noava-v, 
 .noava-V { 
 background: #2ecc71; 
 } 

 .noava-4, 
 .noava-э, 
 .noava-Э, 
 .noava-т, 
 .noava-Т, 
 .noava-Д, 
 .noava-д, 
 .noava-b, 
 .noava-B, 
 .noava-i, 
 .noava-I, 
 .noava-p, 
 .noava-P, 
 .noava-w, 
 .noava-W { 
 background: #3498db; 
 } 

 .noava-5, 
 .noava-г, 
 .noava-Г, 
 .noava-М, 
 .noava-м, 
 .noava-Ф, 
 .noava-ф, 
 .noava-Ж, 
 .noava-ж, 
 .noava-ц, 
 .noava-Ц, 
 .noava-c, 
 .noava-C, 
 .noava-j, 
 .noava-J, 
 .noava-q, 
 .noava-Q, 
 .noava-x, 
 .noava-X { 
 background: #34495e; 
 } 

 .noava-6, 
 .noava-Х, 
 .noava-х, 
 .noava-ч, 
 .noava-Ч, 
 .noava-ю, 
 .noava-Ю, 
 .noava-р, 
 .noava-Р, 
 .noava-ш, 
 .noava-Ш, 
 .noava-d, 
 .noava-D, 
 .noava-k, 
 .noava-K, 
 .noava-r, 
 .noava-R, 
 .noava-y, 
 .noava-Y { 
 background: #8e44ad; 
 }
#one_pm {position:fixed;right:20px;bottom:0px;cursor:pointer;font-family:Tahoma,Arial,Verdana,sans-srif;z-index: 999999999999;}
#hnp_sound {position:absolute;top:-1000px;left:-1000px}
#hnp_author span {display:none}
.h_newpm {position:relative;width:320px;height:80px;margin-bottom:20px;background:#17212b;border-radius: ;}
.h_newpm #hnp_author {color:white;font-weight:bold;text-decoration:none;}
.h_newpm #hnp_author:hover {color:white;text-decoration:none;}
.h_npin {padding:14px;padding-top:10px}
.h_nptitle {color:#FFF;font-size:13px;font-weight:bold;padding-bottom:12px}
.h_npimg {width:57px;height:57px;overflow:hidden;}
.h_npimg img {width:100%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.h_npl {position:absolute;left:15px;top:15px;z-index:3;width:70px}
.h_npr {position:absolute;left:75px;top:20px;z-index:3;color:#FFF;font-size:13px;padding-right:14px}
.h_npr #hnp_text, .h_npr #hnp_text:hover {display:block;text-decoration:none;color:#708499;}
.h_newpm:hover .h_del {display:inline-block;}
.h_del {
 position: absolute;
 display: none;
 top: 1px;
 right: 6px;
 z-index: 3;
 cursor: pointer;
 width: 18px;
 height: 18px;
 color: #aaaeb0;
 font-size: 20px;
}
.h_del:hover {background-position:0px 18px}
.h_nover {position:absolute;top:0px;left:0px;width:100%;height:100%;}
