.paperclip-active{display: block !important;}
 /*вставка посилання*/
 .pm_modal_link,.pm_modal_img, .pm_modal_video,.pm_modal_audio{
 display:none;
 position: absolute;
 top: 0;
 background: white;
 width: 100%;
 height: 100%;

 }.pm_link_div,.pm_link_div_img,.pm_link_div_video,.pm_link_div_audio{

 position: relative;
 top: 35%;

}.pm_link_div ul li,.pm_link_div_img ul li,.pm_link_div_video ul li,.pm_link_div_audio ul li {

 align-content: center;
 text-align: center;
 list-style: none;

}.pm_link_div ul li span,.pm_link_div_img ul li span,.pm_link_div_video ul li span,.pm_link_div_audio ul li span {

 display: block;
 font-weight: 501;
 margin-bottom: 4px;
 color: #6f6f6f;
 text-transform: uppercase;
 font-family: 'arial';

}.pm_link_div ul li input, .pm_link_div_img ul li input,.pm_link_div_video ul li input, .pm_link_div_audio ul li input{

 width: 75%;
 border-radius: 4px;
 border: solid 1px #6490b1;
 padding: 5px;
 transition: all 0.3s;

}.pm_bb_modal_buttons,.pm_bb_modal_buttons_img,.pm_bb_modal_buttons_video,.pm_bb_modal_buttons_audio {

 text-align: center;
 border: none;

}.pm_bb_modal_buttons a, .pm_bb_modal_buttons_img a,.pm_bb_modal_buttons_video a,.pm_bb_modal_buttons_audio a {

 font: 12px Arial;
 line-height: normal;
 line-height: 40px;
 border: 0px solid #ccc;
 background: #6490b1;
 color: white;
 padding: 7px 17px;
 margin-left: 10px;
 text-decoration: none;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 transition: all 0.3s;

}.pm_bb_modal_buttons a:hover,.pm_bb_modal_buttons_img a:hover,.pm_bb_modal_buttons_video a:hover,.pm_bb_modal_buttons_audio a:hover {
 background: #2d81bf;
 color: white;
}.pm_link_div ul li input:hover,.pm_link_div_img ul li input:hover,.pm_link_div_video ul li input:hover,.pm_link_div_audio ul li input:hover {

 border-color: #2d81bf;

 }.formlsstr{bottom: 0px;}
 .codbckap {
 background: #ffffff;
 font-size: 0;
 padding: 0px;
}
 div#snewmes a{
 left: 0px;
 right: 0;}