.msin_t {

    height: 60px;
    border-bottom: 1px solid #131d27 !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: fixed;
    background: #17212b;
    top: 0;
    padding: 10px;
    margin: 0;
    right: 0;
    left: 70px;
    color: #708499;

}.msin_t {

    color: #708499;

}.m_author {

    display: inline;
    color: #f5f5d6;

}.m_author a {

    line-height: 22px;
    color: white;
    font-weight: bold;

}table[width="100%"] {

    width: 100% !important;
    background: #0e1621 !important;
    height: 100%;

}.outputPM {
    background: #2b5278 !important;
    padding: 10px 20px !important;
    margin-bottom: 20px;
    color: #333;
    border-radius: 20px 0px 20px 20px;
    overflow: hidden;
    box-shadow: none !important;
    font-family: 'arial';
    color: #f5f5f5 !important;
}ul.contextMenu li:last-child {

    background: #182533 !important;
    border-bottom: 0;
    border-radius: 4px;
    color: #f5dfe0;

}ul.contextMenu li a {

    color: #e9e9e9 !important;
    text-decoration: none;
    float: left;

}textarea#message2:focus {
    border: none;
    background: #17212b !important;
    color: white !important;
    padding-right: 135px;
}.inftemalsstr input, textarea#message2 {

    padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border: 0px solid #0a121b !important;
    height: 50px;
    padding-left: 40px;
    padding-right: 140px;
    min-height: 50px;
    background: #17212b;
    color: white !important;border-top: 1px solid #0a121b !important;

}.butlsotpravitstrl ul {
    display: none;
    background: #17212b !important;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 4px #000000c4;
    position: relative;
    top: -14px;
}.pm_modal_link, .pm_modal_img, .pm_modal_video, .pm_modal_audio {
    display: none;
    position: absolute;
    top: 0;
    background: #0e1621 !important;
    width: 100%;
    height: 100%;
}.pm_link_div ul li input, .pm_link_div_img ul li input, .pm_link_div_video ul li input, .pm_link_div_audio ul li input {

    width: 75%;
    border-radius: 4px;
    border: solid 0px #6490b1 !important;
    padding: 5px;
    transition: all 0.3s;
    background: #17212b;
    color: white;

}.user-pm-url {
    position: relative;
    display: block;
    background: #182533 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 18px;
    bottom: -9px;
    box-shadow: 0px 0px 3px black;
    padding-top: 16px;
    color: gray;
    right: 0px;
    float: right;
}.user-pm-info-b {
    background: #0e1621 !important;
}.user-pm-header {
    width: 100%;
    height: 140px;
    background: #276899 !important;
    padding: 30px 30px;
}.inputPM {

    border: none;
    background: #182533 !important;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 0 a20px 20px !important;
    color: #f5f5f5 !important;
    overflow: hidden;
    box-shadow: none !important;

}.strlswaaxbd {

    background: #0e1621  !important;}
tbody {

    background: #0e1621;

}table[width="100%"] {
    border-right: solid 0px #d7d7d7 !important;
}html .strlswaaxbd {
    background: #0e1621 !important;
}.search_login {
    font-weight: bold;
    color: #e9e9e9;
    padding-bottom: 0px;
}.search_group {
    color: #e9e9e9c9;
}
#search_cont {
    position: absolute;
    margin-top: 0px;
    border: 0px solid #222;
   color: #e9e9e9 !important;
background: #17212b !important;
    padding: 5px;
    border-radius: 0px;
    width: calc(100% - 40px) !important;
}
.inftemalsstr, .strlspolgrupp label {
    font-family: 'Roboto';
    color: #e9e9e9 !important;
}.codbckap {
    background: #17212b !important;}
.user-pm-info-teext1 {
   
    color: white;
   
}.inftemalsstr input {

    box-shadow: 0 1px 0px #6490b1 !important;
}#results_bg_users {
  
    background: #17212b !important;
  
}#results_bg_users:hover {
    background: #202b36 !important;
}